
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f6f8;
        }

        .banner-cobertura {
            width: 100%;
            height: 300px;
            background-image: url("https://static-cse.canva.com/blob/2391474/40fotografosbrasileirosvoceprecisaconhecer.png");
            background-size: cover;
            background-position: center;
        }

        .banner-essencial{
            width: 100%;
            height: 300px;
            background-image: url("https://www.format.com/wp-content/uploads/Graduation_Group.jpg.jpg");
            background-size: cover;
            background-position: center;

        }

        .banner-completo{
            width: 100%;
            height: 300px;
            background-image: url("https://storage.alboom.ninja/sites/30179/albuns/774999/promover-formaturas-sjc-14__2_.jpg?t=1611583389");
            background-size: cover;
            background-position: center;

        }


        .container {
            max-width: 900px;
            margin: -60px auto 40px;
            background-color: #ffffff;
            border-radius: 12px;
            padding: 30px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.12);
        }

        .plan-name {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .price {
            font-size: 25px;
            color: #4CAF50;
            margin-bottom: 25px;
        }

        .endereco {
            
            font-size: 19px;
            color: #333333;
            margin-bottom: 25px;
        }

        

        .alinhamento{
            display: flex;
            justify-content: space-between;

        }

        .alinhamento img{
            width: 200px;
            border-radius: 20px;
        }

        .alinhamento p{
            font-weight: bold;
            font-size: 17px;
            color: rgb(184, 14, 14);

        }

        .specs h3 {
            margin-bottom: 15px;
        }

        .specs ul {
            padding-left: 20px;
            color: #444;
        }

        .specs ul li {
            margin-bottom: 10px;
        }

        .cta {
            text-align: center;
            margin-top: 40px;
        }

        .cta a p{
            margin: auto;
        }

        .cta a{
            background-color: #4CAF50;
            text-align: center;
            margin: auto;
            display: flex;
            color: #fff;
            border: none;
            padding: 15px 30px;
            width: 500px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
            
        }

        .cta a:hover {
            transform: scale(1.02);
            transition: transform 0.5s ease;
        }
