
body {
    font-family: Arial, sans-serif;
    background-color: #d4d8ebb9;
    padding: 40px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
    
}


.plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.plan-card {
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.plan-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.18);
}

/* IMAGEM */
.plan-image {
    height: 170px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.4s ease;
}

.plan-card:hover .plan-image {
    transform: scale(1.1);
}

/* OVERLAY */
.plan-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.65), transparent);
}

/* TÍTULO NA IMAGEM */
.plan-image h2 {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #fff;
    font-size: 20px;
    z-index: 2;
}

/* CONTEÚDO */
.plan-content {
    padding: 25px;
}

.uma{
    background-image:url('https://meeventos.com.br/wp-content/uploads/2025/01/srt_42ab2c56b04105e9b028bd85a34ce317.jpg');
    

}

.duas{
    background-image:url('https://lcleventos.com.br/fotos/cb7c2d6eb9bd622e2fdd.jpg');

}

.tres{
    background-image:url('https://media-blog.keeperformaturas.com.br/wp-content/uploads/2024/06/baile-de-formatura.webp');

}

.badge {
    display: inline-block;
    background-color: #e8f5e9;
    color: #2e7d32;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 12px;
}

.price {
    font-size: 18px;
    color: #4CAF50;
    margin: 12px 0;
    font-weight: bold;
}

.endereco{
     font-size: 15px;
    color: #333333;
    margin: 12px 0;
    font-weight: bold;

}

.plan-content p{
    color: #c92e2e;
    text-decoration: none;
    font-size: 15px;
}

ul {
    padding-left: 18px;
    color: #444;
}

ul li {
    margin-bottom: 8px;
}
