* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  /* TOPO */
  
  .topo {
      background-color: rgb(45, 60, 102);
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .topo h1 {
      color: white;
      letter-spacing: 3px;
      font-size: 42px;
  }
  
  /* FUNDO BASE */
  
  .conteudo {
      min-height: 80vh;
      padding: 80px 20px;
  
      background-image: url("https://isoformaturas.com.br/site/wp-content/uploads/2023/06/iso-formaturas-mobile2.jpg");
      background-size: cover;
      background-position: center;
  
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  /* NOVA CAIXA DE TEXTO (CARD) */
  
  .caixa-texto {
      max-width: 900px;
      background-color: rgba(255, 255, 255, 0.92);
      padding: 50px;
      border-radius: 16px;
  
      box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  
      color: #444;
      line-height: 1.9;
      font-size: 18px;
  }
  
  .caixa-texto p {
      margin-bottom: 22px;
  }
  


  .btn-voltar {
      position: fixed;
      top: 20px;
      left: 20px;
    
      background-color: #0603c1;
      color: #ffffff;
      padding: 10px 16px;
    
      border-radius: 8px;
      text-decoration: none;
      font-family: Arial, sans-serif;
      font-size: 14px;
    
    }
