
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f6f8;
        }

        .banner {
            width: 100%;
            height: 300px;
            background-image: url("https://static-cse.canva.com/blob/2391474/40fotografosbrasileirosvoceprecisaconhecer.png");
            background-size: cover;
            background-position: center;
        }

        .container {
            max-width: 900px;
            margin: -60px auto 40px;
            background-color: #ffffff;
            border-radius: 12px;
            padding: 30px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.12);
        }

        .plan-name {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .price {
            font-size: 22px;
            color: #4CAF50;
            margin-bottom: 25px;
        }

        .alinhamento{
            display: flex;
            justify-content: space-between;

        }

        .alinhamento img{
            width: 200px;
            border-radius: 20px;
        }

        .specs h3 {
            margin-bottom: 15px;
        }

        .specs ul {
            padding-left: 20px;
            color: #444;
        }

        .specs ul li {
            margin-bottom: 10px;
        }

        .cta {
            text-align: center;
            margin-top: 40px;
        }

        .cta button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 30px;
            cursor: pointer;
            
        }

        .cta button:hover {
            transform: scale(1.03);
            transition: transform 0.5s ease;
        }
