body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical */
        /* ocupa a tela inteira */
    overflow: hidden;
    padding: 40px;

    background-image: url(https://storage.alboom.ninja/sites/1272/albuns/1156522/ucam-fotografia-de-formatura-retratos-de-formandos-aline-lelles-fotografia-afetiva-fotos-para-colacao-de-grau-cadeira-anel-de-formatura-beca-rio-de-janeiro-18.jpg?t=1680100235);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

        .form-container {
            
            background-color: #ffffff;
            width: 100%;
            max-width: 500px;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 15px;
            font-weight: bold;
        }

        input, textarea {
            width: 90%;
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        select{
            width: 40%;
            padding: 2%;
            border-radius: 10px;
            border-radius: none;
            background-color: #ceeecf;
            font-size: 16px;
        }

        textarea {
            resize: none;
            height: 70px;
        }

        button {
            margin-top: 25px;
            width: 100%;
            padding: 12px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-size: 20px;
        }

        button:hover {
            background-color: #45a049;
        }